/* styles.css */

body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Targeting an HTML element */
.title1 {
    background-image: url('Hurricane Image.webp');
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center; /* Center the text horizontally */
    justify-content: center; /* Center horizontally */
    font-size: 24px;
    height: 250px;
    display: flex;
    align-items: center; /* Center vertically */
}

/*Buttions---------------------------------------------------------------------------------*/

/* Vertical alignment for buttons */
.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Add some spacing between buttons */
    padding: 10px 20px;
    width: 1200px; /* Adjust the width as needed */
}

/* Additional styling for buttons */
.button-container button {
    padding: 10px 20px;
}

/* Additional styling for text */
.wrapper p {
    margin-top: 20px; /* Add some margin above the text */
}

/* Container for each button and its text */
.button-with-text {
    display: flex;
    align-items: center;
}

/* Additional styling for buttons */
.button-with-text button {
    padding: 10px 20px;
    width: 120px; /* Adjust the width as needed */
    margin-bottom: 10px; /* Add some space between buttons */
}

/* Additional styling for text */
.button-with-text span {
    margin-left: 10px; /* Adjust the margin as needed */
}

/*tweetmap-----------------------------------------------------------------------------------*/
#map-container {
    width: 100%; /* Set a maximum width for the map container to prevent it from becoming too wide */
    margin: 0 auto; /* Horizontally center the map */
}

/* Styling the maptweet container */
#maptweet {
    height: 800px; /* Adjust the height as needed */
    width: 100%;
    margin: 0 auto; /* Horizontally center the map */
}